<div class="container-fluid p-0">
    <div class="rodape">
        <div class="row text-center">
            <hr>
            <div class="col-12 col-sm-3 d-flex flex-column align-items-center">
                <h4>Explore mais</h4>
                <ul>
                    <li> <a href="">ONG LEVANDO ALEGRIA</a></li>
                    <li><a href="">ONG LEVANDO O BEM</a></li>
                    <li><a href="">ONG FOME ZERO</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-3 d-flex flex-column align-items-center">
                <h4>Contato</h4>
                <ul>
                    <li>(8888-8888-8888)</li>
                    <li>(7777-7777-7777)</li>
                    <li>(4444-4444-4444)</li>
                </ul>
            </div>
            <div class="col-12 col-sm-3 d-flex flex-column align-items-center">
                <h4>Localizações</h4>
                <ul>
                    <li>Avenida cerrado</li>
                    <li>Rua 212</li>
                    <li>Edifício João Martins</li>
                    <li>Brasília (DF) </li>
                    <li style="list-style: none;">---------------------</li>
                    <li>Avenida João dias</li>
                    <li>Rua 311</li>
                    <li>Edifício Mariana</li>
                    <li>São Paulo (SP) </li>
                </ul>
            </div>
            <div class="col-12 col-sm-3 d-flex flex-column align-items-center">
                <h4>Social</h4>
                <ul>
                    <li><a href=""><i class="fa-brands fa-square-facebook"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
            </div>
            <hr>
            <h6 style="text-align: center; font-size: small;"><i class="fa-regular fa-copyright"></i>PROJETO EXTENSIONAL
                2023</h6>
        </div>
    </div>
</div>