<div class="container-fluid">
    <h3 style="text-align: center; margin-top: 25px; margin-bottom: 0px;">Sobre-nós</h3>
    <hr>
    <div class="d-flex justify-content-center">
        <img style="margin-bottom: 10px; height: 228px;" src="assets/img/mao.jpg">
    </div>
    <div class="col-12" style="text-align: center; margin-bottom: 95px;">
      
        <p>Bem-vindo(a) ao projeto extensional, um projeto dedicado a levar esperança e sustento às pessoas
            carentes através de doações de alimentos.</p>
        <p> Nossa missão é transformar vidas e fazer a diferença, alimentando não apenas os estômagos vazios,
             mas também os corações famintos por amor, compaixão e dignidade.</p>
        <p>Somos movidos por uma profunda convicção de que todos merecem acesso a uma alimentação adequada,
             independente de sua condição social, raça ou religião.</p>
        <p>Em cada etapa do nosso caminho, reafirmamos o compromisso de não apenas fornecer alimentos, mas
             também nutrir corpos e almas. 
        </p>
        <p>Acreditamos que, além de oferecer alimentos nutritivos, é essencial trazer um sentimento de
            compaixão, empatia e solidariedade a todas as interações com as comunidades que atendemos.</p>

    </div>
</div>